In [2]:
import pandas as pd

patient_df = pd.read_csv('clean_files/clean_patient_discharge_details_dump.csv', header=0, delimiter=',')

# added_amt column consists of sum of all the expenses incurred by a patient
patient_df['added_amt']=patient_df.iloc[:,11:19].sum(axis=1)

# department wise sum of 'added_amt', count of 'patientname' and sum of 'discountamount'
group_by_department = patient_df.groupby("department").agg({'added_amt':'sum','patientname':'count','discountamount':'sum'})
print(group_by_department)

                                     added_amt  patientname  discountamount
department
BONE AND JOINT HOSPITALS             624209.01            3               0
CARDIOLOGY                         23343299.44          223         1990011
CHEST MEDICINE                      5009301.15           42          178991
CRITICAL CARE                      10634577.74           69          300101
ENDOCRINOLOGY                        142439.00            1            2923
ENT                                  371287.71            1               0
GASTROENTEROLOGY & G.I. ENDOSCOPY   7678407.33           71           82418
GENERAL SURGERY                     3978315.33           26           67520
GYNAECOLOGY                         1194138.16           17          134451
INTERNAL MEDICINE                   4840543.45           35          109087
MINIMAL ACCESS SURGERY HOSPITAL      139420.92            2               0
NEPHROLOGY                           710709.92            9            7058
NEURO SURGERY                      23017071.27          162          688654
NEUROLOGY                           1747818.83           19           76500
ONCOLOGY                            9388326.86          135          366757
ORTHOPAEDIC                         9254056.11           54          555925
PEDIATIRICS                         2851228.50           71          105777
PLASTIC SURGERY                     1384008.39           16           85053
RADIOLOGY                            498638.86            5           13274
UROLOGY                             2944538.97           39           49903

In [3]:
# Top 10 patient with max added_amt 
patient_df_largest_ten = patient_df.nlargest(10, ['added_amt']) 
top_ten_added_amt_patient_df = patient_df_largest_ten[['patientname', 'added_amt']]
print(top_ten_added_amt_patient_df.to_string(index= False))

patientname   added_amt
       Dolf  1528592.55
       Aron  1259722.65
       Judi  1146433.34
  Timotheus  1143893.95
       Opal  1121483.64
     Yasmin  1001624.72
      Darya   927497.90
     Nanine   884241.32
       Burt   821912.11
     Vinnie   802197.69

In [9]:
# Top 10 departments with patient of max added_amt
group_by_department = patient_df.groupby("department").agg({'added_amt':'max'})
print(group_by_department)

                                    added_amt
department
BONE AND JOINT HOSPITALS            361484.85
CARDIOLOGY                          802197.69
CHEST MEDICINE                      538582.52
CRITICAL CARE                      1259722.65
ENDOCRINOLOGY                       142439.00
ENT                                 371287.71
GASTROENTEROLOGY & G.I. ENDOSCOPY   884241.32
GENERAL SURGERY                     791468.72
GYNAECOLOGY                         149596.15
INTERNAL MEDICINE                  1528592.55
MINIMAL ACCESS SURGERY HOSPITAL     120068.00
NEPHROLOGY                          300590.62
NEURO SURGERY                      1143893.95
NEUROLOGY                           450341.15
ONCOLOGY                            596687.26
ORTHOPAEDIC                         701390.27
PEDIATIRICS                         289490.94
PLASTIC SURGERY                     676471.19
RADIOLOGY                           182559.55
UROLOGY                             627046.94

In [13]:
# Top 10 Registration_No, Patient_Name ,Department_Name, Total_Expense(), Mobile_Number
patient_df_largest_ten = patient_df.nlargest(10, ["added_amt"]) 
top_ten_added_amt_patient_df_phone = patient_df_largest_ten[["registrationno", "patientname", "phone", "department", "added_amt"]]
print(top_ten_added_amt_patient_df_phone.to_string(index= False))

 registrationno patientname       phone                         department   added_amt
            932        Dolf  9427130747                  INTERNAL MEDICINE  1528592.55
            685        Aron  8888999999                      CRITICAL CARE  1259722.65
            542        Judi  8888999999                      CRITICAL CARE  1146433.34
            791   Timotheus  9909062725                      NEURO SURGERY  1143893.95
            129        Opal  8888999999                      NEURO SURGERY  1121483.64
            122      Yasmin  9277653897                  INTERNAL MEDICINE  1001624.72
            463       Darya  9924009499                      CRITICAL CARE   927497.90
            798      Nanine  8888999999  GASTROENTEROLOGY & G.I. ENDOSCOPY   884241.32
            781        Burt  9909927427                      NEURO SURGERY   821912.11
            861      Vinnie  8888999999                         CARDIOLOGY   802197.69

In [17]:
# Bottom 10 Registration_No, Patient_Name ,Department_Name, Total_Expense(), Mobile_Number
patient_df_smallest_ten = patient_df.nsmallest(10, ["added_amt"]) 
bottom_ten_added_amt_patient_df_phone = patient_df_smallest_ten[["registrationno", "patientname", "phone", "department", "added_amt"]]
print(bottom_ten_added_amt_patient_df_phone.to_string(index= False))

 registrationno patientname       phone                         department  added_amt
            418  Antonietta  8888999999                         CARDIOLOGY        0.0
            435       Adler  9904114846                      NEURO SURGERY        0.0
            468       Chris  9898422357                        GYNAECOLOGY        0.0
            609   Kassandra  9925658300                      CRITICAL CARE        0.0
            618       Corey  9898989027                         CARDIOLOGY        0.0
            708   Alejandro  9426950320  GASTROENTEROLOGY & G.I. ENDOSCOPY        0.0
            787      Leonid  8735072672                        ORTHOPAEDIC        0.0
            923      Temple  9913311070                      CRITICAL CARE        0.0
            926      Maudie  9979931053                         CARDIOLOGY        0.0
            964      Jacqui  9924506015                      NEURO SURGERY        0.0