In [7]:
import pandas as pd
import datetime, time

current_day = datetime.datetime.now().strftime("%d")
if (current_day in ["01","02","03","04","05","06","07","12","16"]):
    patient_discharge_df = pd.read_csv('clean_files/clean_patient_discharge_details_dump.csv', header=0, delimiter=',')
    patient_details_df = pd.read_csv('clean_files/clean_patient_details_dump.csv', header=0, delimiter=',')
    
    
    # Registration_No ,  Age , Gender , City_Name , District_Name , Statename,  latest by admit date
    result_df = pd.merge(patient_discharge_df, patient_details_df[["registrationno","age","gender"]], on='registrationno')
    merged_df = result_df[["registrationno","age","gender","cityname","districtname","statename","admitdatetime"]]
    merged_df = merged_df.sort_values(by=['admitdatetime'], ascending=False).head(50)

    # Export to csv
    merged_df.to_csv('dashboards/powerplay/latest_50_admitdate_wise.csv',encoding='utf-8', index=False)
else:
    print("Script executes for only first 7 days of the month")

,registrationno,age,gender,cityname,districtname,statename,admitdatetime
800,801,8,Male,DHORAJI,Alwar,Rajasthan,2014-12-05 23:03:00
796,797,44,Male,DIU.,DIU,DAMAN & DIU,2014-12-05 19:50:00
986,987,81,Male,VISAVADAR,JUNAGADH,GUJARAT,2014-12-05 19:25:00
967,968,67,Male,Bhopal,Bhopal,Madhya Pradesh,2014-12-05 19:15:00
795,796,20,Male,LODHIKA,Alwar,Rajasthan,2014-12-05 18:01:00
913,914,12,Male,JAMKANDORNA,Alwar,Rajasthan,2014-12-05 13:50:00
912,913,70,Female,MORBI,Alwar,Rajasthan,2014-12-05 13:31:00
793,794,48,Female,Bhopal,Bhopal,Madhya Pradesh,2014-12-05 11:59:00
930,931,68,Female,MORBI,Alwar,Rajasthan,2014-12-05 11:06:00
971,972,3,Male,GONDAL,Alwar,Rajasthan,2014-12-05 09:40:00

In [27]:

current_day = datetime.datetime.now().strftime("%d")
if (current_day in ["01","02","03","04","05","06","07","11"]):
    # age, gender, admitdate should be current month, discharge date (last 3 months) [1st 7 days of month]
    print("yes") 
else:
    print("Script wont execute")

yes

In [29]:

current_day = datetime.datetime.now().strftime("%d")
if (current_day in ["01","02","03","04","05","06","07","12","16"]):
    outpatient_details_df = pd.read_csv('clean_files/clean_outpatient_details_dump.csv', header=0, delimiter=',')
    patient_discharge_details_df = pd.read_csv('clean_files/clean_patient_discharge_details_dump.csv', header=0, delimiter=',')
    
    # registration, opdate, patientname,city, district, state, amount > 500
    result_df = pd.merge(outpatient_details_df, patient_discharge_details_df[["registrationno","cityname","districtname","statename"]], on='registrationno')
    result_df = result_df[["registrationno","opdate","patname","amount","cityname","districtname","statename"]]
    result_df = result_df[result_df.amount > 500]
    
    # Export to csv
    result_df.to_csv('dashboards/powerplay/amount_greater_than_500_wise.csv',encoding='utf-8', index=False)

In [21]:
current_day = datetime.datetime.now().strftime("%d")
if (current_day in ["01","02","03","04","05","06","07","12","16"]):
    outpatient_details_df = pd.read_csv('clean_files/clean_outpatient_details_dump.csv', header=0, delimiter=',')
 
    #department group by, sum of amount
    group_by_department = outpatient_details_df.groupby("department").agg({'amount':'sum'})
    
    # Export to csv
    group_by_department.to_csv('dashboards/powerplay/sum_of_amount_department_wise.csv',encoding='utf-8', index=True)

In [27]:

current_day = datetime.datetime.now().strftime("%d")
if (current_day in ["01","02","03","04","05","06","07","12","16"]):
    outpatient_details_df = pd.read_csv('clean_files/clean_outpatient_details_dump.csv', header=0, delimiter=',')
 
    # status group by, sum of amount
    group_by_department = outpatient_details_df.groupby("status").agg({'amount':'sum'})
    
    # Export to csv
    group_by_department.to_csv('dashboards/powerplay/sum_of_amount_status_wise.csv',encoding='utf-8', index=True)